<!DOCTYPE html>
<html>
<head>
  <title>MeeseeksfinderApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <script src="jquery.geocomplete.js"></script> 
</head>
<body>

<%= yield %>

</body>
</html>
